In [16]:
# Q1.
players = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_players = sorted(players, key=lambda x: x[1])
for player in sorted_players:
    print(player[0], "-", player[1])

Virat Kohli - 24936
Jack Kallis - 25534
Ricky Ponting - 27483
Sachin Tendulkar - 34357

In [2]:
# Q2.
l=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x: x**2, l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
# Q3.
l=[1,2,3,4,5,6,7,8,9,10]
tuple(map(lambda x: str(x), l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [8]:
# Q4.
from functools import reduce
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
reduce(lambda x,y: x*y, l)

15511210043330985984000000

In [13]:
# Q5.
l=[2,3,6,9,27,60,90,120,55,46]
list(filter(lambda x: x%2==0 and x%3==0, l))

[6, 60, 90, 120]

In [15]:
# Q6.
l=['python', 'php', 'aba', 'radar', 'level']
Check_Palindrome= lambda x: x==x[::-1]
list(filter(Check_Palindrome,l))

['php', 'aba', 'radar', 'level']