<h1><center>Mysql Assignment</center></h1>

<p>Q1. What is a database? Differentiate between SQL and NoSQL databases.<br>
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.<br>
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.<br>
Q4. What is DQL? Explain SELECT with an example.<br>
Q5. Explain Primary Key and Foreign Key.<br>
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.<br>
Q7. Give the order of execution of SQL clauses in an SQL query.</p>

<h1>Q1. What is a database? Differentiate between SQL and NoSQL databases.</h1>
<p><b>Answer.</b></p>
  <h2>What is a Database?</h2>
  <p>A database is a structured collection of data that is organized and stored in a computer system. It allows for efficient data storage, retrieval, and management.</p>

  <h2>Difference between SQL and NoSQL Databases</h2>
  <p>SQL (Structured Query Language) and NoSQL (Not Only SQL) are two types of database management systems, each with its own characteristics:</p>

  <h3>SQL Databases:</h3>
  <ul>
    <li>Structured data model</li>
    <li>Relational data storage</li>
    <li>Schema-based</li>
    <li>Supports ACID properties (Atomicity, Consistency, Isolation, Durability)</li>
    <li>Examples: MySQL, PostgreSQL, Oracle</li>
  </ul>

  <h3>NoSQL Databases:</h3>
  <ul>
    <li>Flexible data model</li>
    <li>Non-relational data storage</li>
    <li>Schema-less or schema-flexible</li>
    <li>Supports eventual consistency</li>
    <li>Examples: MongoDB, Couchbase, Cassandra</li>
  </ul>

<h1>Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.</h1>
<p><b>Answer.</b></p>
   <h3>DDL Explanation</h3>
    <p>DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define, modify, and delete database structures and schema objects.</p>
    <p>The following are commonly used DDL commands:</p>
    <ul>
        <li><strong>CREATE:</strong> Used to create new database objects such as tables, indexes, views, or schemas.</li>
        <li><strong>DROP:</strong> Used to delete existing database objects. It removes the entire object along with its data.</li>
        <li><strong>ALTER:</strong> Used to modify existing database objects, such as adding, modifying, or dropping columns in a table.</li>
        <li><strong>TRUNCATE:</strong> Used to remove all records from a table, but unlike DROP, it preserves the table structure and metadata.</li>
    </ul>
    <p>Here's an example of each DDL command:</p>
    <ul>
        <li><strong>CREATE:</strong> Creating a new table named "employees" with columns for employee ID, name, and department:</li>
        <code>
            CREATE TABLE employees (
                emp_id INT PRIMARY KEY,
                emp_name VARCHAR(50),
                department VARCHAR(50)
            );
        </code>
        <li><strong>DROP:</strong> Dropping the "employees" table:</li>
        <code>
            DROP TABLE employees;
        </code>
        <li><strong>ALTER:</strong> Adding a new column "salary" to the "employees" table:</li>
        <code>
            ALTER TABLE employees ADD COLUMN salary DECIMAL(10, 2);
        </code>
        <li><strong>TRUNCATE:</strong> Removing all records from the "employees" table:</li>
        <code>
            TRUNCATE TABLE employees;
        </code>
    </ul>

<h1>Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.</h1>
<p><b>Answer.</b></p>
<p><strong>INSERT:</strong></p>
<p>INSERT is used to add new records to a table in a database.</p>
<p>Example:</p>
<pre><code>INSERT INTO Students (StudentID, Name, Age) VALUES (1, 'John', 20);</code></pre>
<p>This statement inserts a new record into the "Students" table with StudentID 1, Name "John", and Age 20.</p>

<p><strong>UPDATE:</strong></p>
<p>UPDATE is used to modify existing records in a table based on specified conditions.</p>
<p>Example:</p>
<pre><code>UPDATE Students SET Age = 21 WHERE StudentID = 1;</code></pre>
<p>This statement updates the Age of the student with StudentID 1 to 21 in the "Students" table.</p>

<p><strong>DELETE:</strong></p>
<p>DELETE is used to remove records from a table based on specified conditions.</p>
<p>Example:</p>
<pre><code>DELETE FROM Students WHERE StudentID = 1;</code></pre>
<p>This statement deletes the record of the student with StudentID 1 from the "Students" table.</p>

<h1>Q4. What is DQL? Explain SELECT with an example.</h1>
<p><b>Answer.</b></p>
<p>DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used for retrieving data from a database.</p>

<p>Example of a SELECT statement:</p>

<pre>
<code>
SELECT column1, column2
FROM table_name
WHERE condition;
</code>
</pre>

<p>In this example:</p>
<ul>
  <li><code>SELECT</code> specifies the columns to be retrieved.</li>
  <li><code>FROM</code> specifies the table from which the data is retrieved.</li>
  <li><code>WHERE</code> specifies any conditions that the retrieved data must meet.</li>
</ul>

<h1>Q5. Explain Primary Key and Foreign Key.</h1>
<p><b>Answer.</b></p>
  <h3>Primary Key</h3>
  <p>
    In a database table, a <strong>Primary Key</strong> uniquely identifies each record or row. It ensures that each row in the table is unique and can be used to access or reference specific records. Primary Key values cannot be null and must be unique within the table. Typically, Primary Keys are implemented using unique indexes.
  </p>

  <h3>Foreign Key</h3>
  <p>
    A <strong>Foreign Key</strong> is a field or a set of fields in a table that refers to the Primary Key of another table. It establishes a relationship between two tables by enforcing referential integrity. Foreign Key constraints ensure that the values in the Foreign Key column(s) of one table correspond to the values in the Primary Key column(s) of another table. This relationship allows for the creation of relational databases and enables data consistency and integrity.
  </p>

In [ ]:
"""Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method."""

import sqlite3.collections

# Establishing a connection to MySQL
try:
    # Replace the placeholders with your MySQL database credentials
    connection = sqlite3.connector.connect(
        host="localhost",
        user="your_username",
        password="your_password",
        database="your_database"
    )

    # Creating a cursor object
    cursor = connection.cursor()

    # Example query execution
    query = "SELECT * FROM your_table"
    cursor.execute(query)
    
    connection.close()


except sqlite3.connector.Error as error:
    print("Error connecting to MySQL:", error)

### the cursor()
# cursor(): The cursor() method creates a cursor object which is used to execute SQL queries and fetch results from the database.

### the execute()
# execute(query): The execute() method is used to execute a SQL query. It takes the SQL query as its parameter. In the example, we execute a SELECT query to fetch all records from a table.

<h1>Q7. Give the order of execution of SQL clauses in an SQL query.</h1>
<p><b>Answer.</b></p>
<p>This list indicates the sequence in which the clauses are typically processed when executing an SQL query.</p>
<ol>
  <li>FROM</li>
  <li>WHERE</li>
  <li>GROUP BY</li>
  <li>HAVING</li>
  <li>SELECT</li>
  <li>ORDER BY</li>
  <li>LIMIT</li>
</ol>